<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main class="container-fluid" layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">

            <!-- 상품검색결과 -->
            <div class="mt-5 mb-5">
                <span class="h2" th:text="|'${cri.searchText}'에 대한 ${totalCount}건의 통합 검색결과입니다.|"></span>
            </div>

            <!-- 상품목록 -->
            <div class="row">
                <div class="col-md-2 d-flex align-items-stretch" th:each="item : ${searchResults}" style="margin-bottom: 20px;">
                    <div class="card">
                        <img th:src="@{'/files/' + ${item.repImgFileName}}" class="card-img-top" th:alt="${item.itemName}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.itemName}">상품명</h5>
                            <p class="card-text" th:text="${item.itemDetail}">상품 설명</p>
                            <p class="card-text" th:text="${item.price}">가격</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 페이징 -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!pageDto.prev} ? 'disabled'">
                        <a class="page-link" th:href="@{/search(pageNum=${pageDto.startPage - 1}, amount=${cri.amount}, searchText=${cri.searchText})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}" th:classappend="${page == cri.pageNum} ? 'active'">
                        <a class="page-link" th:href="@{/search(pageNum=${page}, amount=${cri.amount}, searchText=${cri.searchText})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!pageDto.next} ? 'disabled'">
                        <a class="page-link" th:href="@{/search(pageNum=${pageDto.endPage + 1}, amount=${cri.amount}, searchText=${cri.searchText})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>

</html>