<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbarFragment"
	 class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home(Anyone)
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item">
				<a class="nav-link"	th:href="@{/member/user}">user권한</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"	th:href="@{/member/manager}">manager권한</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"	th:href="@{/member/admin}">admin권한</a>
			</li>
			<li class="nav-item">
	            <div class="float-right">
				    <!-- 사용자 로그인 상태에 따라 표시할 버튼 -->
					<!-- sec : 타임리프에서 스프링 시큐리티의 인증정보를 사용 (layout2프래그먼트에 xmlns 설정함) -->
					<!--괄호두개: 인라인 표현식-변수값 출력, 달러중괄호: 변수표현식-객체속성접근, 샵authentication: 스프링 시큐리티 객체 -->
				    <div sec:authorize="isAuthenticated()">
						([[${#authentication.principal.name}]])님
				        <button type="button" class="btn btn-success" onclick="javascript:location.href='/logout'">로그아웃</button>
				    </div>
				    <div sec:authorize="!isAuthenticated()">
				        <button type="button" class="btn btn-primary" onclick="javascript:location.href='/login'">로그인</button>
				    </div>
				</div>
			</li>

		</ul>
	</div>
</nav>