<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main class="container-fluid" layout:fragment="content">

    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-6 col-lg-4 form-container">

            <p class="text-center text-nowrap fw-bold fs-2">회원가입</p>

            <div class="mt-5 mb-5" style="height: 2px; background-color: #000; margin: 20px 0;"></div>

            <form th:action="@{/member/join.do}" method="post" class="form"
                  th:object="${memberFormDto}">
                <div class="form-floating mb-3">
                    <input type="text" th:field="*{name}" class="form-control" id="nameInput" placeholder="Name">
                    <label for="nameInput">이름</label>
                    <small class="text-danger" id="nameError" th:if="${errorMap != null and errorMap.containsKey('name')}" th:text="${errorMap.get('name')}"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" th:field="*{email}" class="form-control" id="emailInput" placeholder="name@example.com">
                    <label for="emailInput">이메일</label>
                    <small class="text-danger" id="emailError" th:if="${errorMap != null and errorMap.containsKey('email')}" th:text="${errorMap.get('email')}"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" th:field="*{password}" class="form-control" id="passwordInput" placeholder="Password">
                    <label for="passwordInput">비밀번호</label>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                             &nbsp;8-20자의 비밀번호를 입력하세요.
                        </span>
                    </div>
                    <small class="text-danger" id="passwordError" th:if="${errorMap != null and errorMap.containsKey('password')}" th:text="${errorMap.get('password')}"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" th:field="*{passwordConfirm}" class="form-control" id="pwConfirmInput" placeholder="Password">
                    <label for="pwConfirmInput">비밀번호 확인</label>
                    <small class="text-danger" id="pwConfirmError" th:if="${errorMap != null and errorMap.containsKey('passwordConfirm')}" th:text="${errorMap.get('passwordConfirm')}"></small>
                    <small id="passwordMatchError"></small>
                </div>

                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-lg btn-dark">가입하기</button>
                </div>
            </form>

            <div class="d-flex align-items-center mt-5 mb-5">
                <div class="flex-grow-1" style="height: 2px; background-color: #aab2b5;"></div>
                <span class="mx-2" style="color: #aab2b5">또는</span>
                <div class="flex-grow-1" style="height: 2px; background-color: #aab2b5;"></div>
            </div>

            <a th:href="@{/oauth2/authorization/kakao}" class="btn btn-outline-warning btn-lg col-12 mb-3">카카오 계정으로 로그인</a>

        </div>
    </div>
</main>

<script layout:fragment="script" th:src="@{/js/join.js}"></script>

</html>
