<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/member/login}" method="post">
    <div th:if="${param.error}">
        <p th:text="${exception}" class="alert alert-danger"></p>
    </div>
    <!--이메일-->
    <div class="form-floating mb-3">
    <input id="username" name="username"
        type="email" placeholder="name@example.com"  required />
    </div>
    <!--비번-->
    <div class="form-floating mb-3">
    <input id="password" name="password"
        type="text" value="1234"  required />
    </div>
    <button type="submit">로그인</button>
</form>


</body>
</html>