<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <footer class="footer bg-white" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5 text-center">
                    <p class="text-dark">
                        &copy; Copyright <script>document.write(new Date().getFullYear());</script> By <b>SPORTSFIT</b>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
</html>