html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }

.dropdown-menu {
    display: none;
    position: absolute;
    will-change: transform;
    transition: opacity 0.2s ease-in-out;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-toggle::after {
  display: none !important;
}

main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}
