<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main class="content container-fluid mb-5" layout:fragment="content">

    <!-- 메시지 표시 영역 -->
    <div th:if="${message != null and !message.isEmpty()}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Banner Image -->
    <div class="container-fluid">
        <img src="/images/bg_2.jpg" class="img-fluid" alt="Banner Image">
    </div>

    <!-- 신상품 Section -->
    <div class="container mt-5">
        <h2>New Arrivals</h2>
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch" th:each="item : ${newItemList}">
                <a class="card text-decoration-none text-reset" th:href="@{item/detail/{itemId}(itemId=${item.itemId})}">
                    <img th:src="@{'/files/' + ${item.repImgFileName}}" class="card-img-top" th:alt="${item.itemName}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.itemName}"></h5>
                        <p class="card-text" th:text="${item.itemDetail}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- 베스트셀러 Section -->
    <div class="container mt-5">
        <h2>Best Items</h2>
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch" th:each="item : ${bestItemList}">
                <a class="card text-decoration-none text-reset" th:href="@{item/detail/{itemId}(itemId=${item.itemId})}" >
                    <img th:src="@{'/files/' + ${item.repImgFileName}}" class="card-img-top" th:alt="${item.itemName}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.itemName}"></h5>
                        <p class="card-text" th:text="${item.itemDetail}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- 전체상품 Section -->
    <div class="container mt-5">
        <h2>Other Items</h2>
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch" th:each="item : ${allItemList}">
                <a class="card text-decoration-none text-reset" th:href="@{item/detail/{itemId}(itemId=${item.itemId})}">
                    <img th:src="@{'/files/' + ${item.repImgFileName}}" class="card-img-top" th:alt="${item.itemName}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.itemName}"></h5>
                        <p class="card-text" th:text="${item.itemDetail}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</main>
</html>