<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main class="content container-fluid" layout:fragment="content">
    <!-- Banner Image -->
    <div class="container-fluid">
        <img src="/images/bg_2.jpg" class="img-fluid" alt="Banner Image">
    </div>

    <!-- 신상품 Section -->
    <div class="container mt-5">
        <h2>New Arrivals</h2>
        <div class="row">
            <div class="col-md-4" th:each="item : ${newItemList}">
                <a class="card" th:href="@{item/detail.do/{itemId}(itemId=${item.itemId})}">
                    <img src="@{/images/new1.jpg}" class="card-img-top" alt="New Arrival 1">
                    <div class="card-body">
                        <h5 class="card-title">${item.itemName}</h5>
                        <p class="card-text">${item.itemDetail}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- 베스트셀러 Section -->
    <div class="container mt-5">
        <h2>Best Items</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/best1.jpg" class="card-img-top" alt="Best Item 1">
                    <div class="card-body">
                        <h5 class="card-title">Best Item 1</h5>
                        <p class="card-text">Description of best item 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/best2.jpg" class="card-img-top" alt="Best Item 2">
                    <div class="card-body">
                        <h5 class="card-title">Best Item 2</h5>
                        <p class="card-text">Description of best item 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/best3.jpg" class="card-img-top" alt="Best Item 3">
                    <div class="card-body">
                        <h5 class="card-title">Best Item 3</h5>
                        <p class="card-text">Description of best item 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</html>